.example{font-size: 24px;}


.navbarInformation{margin-top:3%;}

.containerInformation{width: 80%;
					margin-left:5%;}

.textInformation{text-align: justify;}


.imageMobileIndex{margin-left: 18% !important;}